/* @import "_variables.css"; */
:root {
  --header-size: 90px;
  --footer-size: 70px;
  --content-size: calc(100vh - var(--footer-size));

  --color-highlight: #f4fa1a;
  --color-main-dark: #0f0427;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #0f0427;
  color: #fff;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header {
  height: var(--header-size);
  width: 100%;
  padding: 30px 80px 0px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  transition: background 0.3s;
}

header > .left > h1 {
  font-weight: 900;
}

header > .right {
  display: flex;
  gap: 20px;
}

header > .right.menu > .menu-item {
  position: relative;
  z-index: 5;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  cursor: pointer;
  transition: color 0.3s;
}

header > .right.menu > .menu-item:hover {
  color: #bbb;
}

main > section {
  min-height: 100vh;
}

main > .home {
  padding: 0 100px 0;
  display: flex;
  align-items: center;
}

main > .home > .background {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/3351603.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

main > .home > .inner {
  position: relative;
  z-index: 3;
}

main > .home > .inner > .hello,
main > .home > .inner > .position {
  z-index: 3;
  font-size: 36px;
  font-weight: 800;
  line-height: 47px;
}

main > .home > .inner > .name {
  z-index: 3;
  font-size: 66px;
  font-weight: 800;
  line-height: 87px;
}

main > .home > .inner > .contact-me {
  z-index: 3;
  margin-top: 100px;
  width: 275px;
  height: 66px;
  border-radius: 15px;
}

main > .home > .inner > .contact-me > span.label {
  font-weight: 900;
}

main > .home::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100vw;
  height: 50px;
  background-color: var(--color-main-dark);
  box-shadow: 0 0 150px 10px rgba(0, 0, 0, 0.75);
  clip-path: inset(-150px 0px 0px 0px);
}

main > .about {
  margin: 50px 0 92px;
}

main > .about > .content > h1.title {
  font-size: 48px;
}

main > .about > .content > h1.title::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: var(--color-highlight);
  position: relative;
  top: 10px;
}

main > .about > .content > .inner {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

main > .about > .content > .inner > .photo {
  padding-top: 100px;
  position: relative;
}

main > .about > .content > .inner > .photo > img {
  z-index: 2;
  position: relative;
  left: 22px;
  width: 479px;
  height: px;
}

main > .about > .content > .inner > .photo > .frame {
  z-index: 1;
  position: absolute;
  top: 132px;
  border: 5px solid var(--color-highlight);
  border-radius: 20px;
  background: transparent;
  width: 479px;
  height: 398px;
}

main > .about > .content > .inner > .description {
  width: 644px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

main > .about > .content > .inner > .description > .title {
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  margin-bottom: 20px;
}

main > .about > .content > .inner > .description > .text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main
  > .about
  > .content
  > .inner
  > .description
  > form.download-form
  > button.download {
  margin-top: 50px;
  width: 368px;
  height: 66px;
}

main > .skills > .content > h1.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main > .skills > .content > h1.title::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: var(--color-highlight);
  position: relative;
  top: 10px;
  left: 60px;
}

main > .skills > .content > .skill-levels {
  margin: 72px 0 100px;
  display: flex;
  justify-content: center;
  gap: 120px;
}

main > .skills > .content > .skill-levels > .left,
main > .skills > .content > .skill-levels > .right {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

main > .skills > .content > .skill-levels > .left > .skill,
main > .skills > .content > .skill-levels > .right > .skill {
  width: 100%;
}

main > .skills > .content > .skill-levels > .left > .skill > .label,
main > .skills > .content > .skill-levels > .right > .skill > .label {
  display: flex;
  justify-content: space-between;
}

main > .skills > .content > .skill-levels > .left > .skill > .bar,
main > .skills > .content > .skill-levels > .right > .skill > .bar {
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  height: 9px;
}

main > .skills > .content > .skill-levels > .left > .skill > .bar::before,
main > .skills > .content > .skill-levels > .right > .skill > .bar::before {
  content: "";
  display: block;
  height: 9px;
  background-color: var(--color-highlight);
}

main
  > .skills
  > .content
  > .skill-levels
  > .left
  > .skill:nth-child(1)
  > .bar::before {
  width: 90%;
}

main
  > .skills
  > .content
  > .skill-levels
  > .left
  > .skill:nth-child(n + 2)
  > .bar::before {
  width: 80%;
}

main
  > .skills
  > .content
  > .skill-levels
  > .right
  > .skill:nth-child(n + 1)
  > .bar::before {
  width: 75%;
}

main
  > .skills
  > .content
  > .skill-levels
  > .right
  > .skill:nth-child(3)
  > .bar::before {
  width: 40%;
}

main
  > .skills
  > .content
  > .skill-levels
  > .right
  > .skill:nth-child(4)
  > .bar::before {
  width: 80%;
}

main
  > .skills
  > .content
  > .skill-levels
  > .right
  > .skill:nth-child(5)
  > .bar::before {
  width: 99%;
}

main > .projects {
  min-height: 100vh;
  padding-top: 100px;
  margin-top: 100px;
}

main > .projects > .content {
  background: url("../assets/images/background-projects.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 0;
}

main > .projects > .content > h1.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  margin-top: 30px;
}

main > .projects > .content > h1.title::after {
  content: "";
  width: 90px;
  height: 3px;

  display: block;
  position: relative;
  top: 10px;
  background-color: var(--color-highlight);
}

main > .projects > .content > .inner {
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

main > .projects > .content > .inner > .project:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

main > .projects > .content > .inner > .project:nth-child(1) {
  width: 349px;
  height: 498px;
  margin-top: -100px;
}

main > .projects > .content > .inner > .project:nth-child(2) {
  width: 202px;
  height: 300px;
}

main > .projects > .content > .inner > .project:nth-child(3) {
  width: 404px;
  height: 479px;
  margin-top: -50px;
}

main > .projects > .content > .inner > .project:nth-child(4) {
  width: 264px;
  height: 382px;
  margin-top: -230px;
}

main > .projects > .content > .inner > .project:nth-child(5) {
  width: 350px;
  height: 385px;
  margin-top: -200px;
}

main > .projects > .content > .inner > .project:nth-child(6) {
  width: 600px;
  height: 403px;
}

main > .projects > .content > .inner > .project:nth-child(7) {
  width: 421px;
  height: 531px;
  margin-top: -250px;
  margin-left: -100px;
}

main > .contact {
  min-height: calc(100vh - var(--footer-size));
}

main > .contact > .content {
  padding-bottom: 200px;
  background: url("../assets/images/rainbow_flowing_waves_abstract_banner_design_0507\ [Převedený].jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

main > .contact > .content > h1.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
}

main > .contact > .content > h1.title::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: var(--color-highlight);
  position: relative;
  top: 10px;
  left: 165px;
  margin-bottom: 70px;
}

main > .contact > .content > .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

main > .contact > .content > .inner > .message-me,
main > .contact > .content > .inner > .get-in-touch {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main > .contact > .content > .inner > .message-me {
  display: flex;
  flex-direction: column;
}

main > .contact > .content > .inner > .message-me > h2.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  border: none;
}

main > .contact > .content > .inner > .message-me > .contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main > .contact > .content > .inner > .message-me > .contact-form > .row {
  display: flex;
  width: 100%;
  gap: 10px;
}

main > .contact > .content > .inner > .message-me input[type="text"] {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  /* border: none; */
  flex: 1;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

main
  > .contact
  > .content
  > .inner
  > .message-me
  > .contact-form
  > .row
  > .message {
  height: 135px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  flex: 1;
}

main > .contact > .content > .inner > .message-me input[type="text"]:focus {
  outline: none;
  border-color: var(--color-highlight);
}

main > .contact > .content > .inner > .message-me textarea:focus {
  outline: none;
  border-color: var(--color-highlight);
}

main > .contact > .content > .inner > .message-me > .contact-form > button {
  width: 300px;
  height: 66px;
}

main > .contact > .content > .inner > .get-in-touch > .title {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
}

main > .contact > .content > .inner > .get-in-touch > .text {
  max-width: 600px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

main > .contact > .content > .inner > .get-in-touch > .contacts {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main > .contact > .content > .inner > .get-in-touch > .contacts > .contact {
  display: flex;
  align-items: center;
}

main > .contact > .content > .inner > .get-in-touch > .contacts span {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 34px;
}

footer {
  height: var(--footer-size);
  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.content {
  padding: 200px 200px 0;
}

.highlight {
  color: #f4fa1a;
}

.btn {
  border-radius: 20px;
}

.btn-fill {
  background-color: var(--color-highlight);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-fill:hover {
  transform: scale(0.9);
  background-color: green;
}

.btn-fill > span.label {
  color: var(--color-main-dark);
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.btn-outline {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid var(--color-highlight);
  transition: background-color 0.3s;
}

.btn-outline > span.label {
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}

.btn-outline:hover {
  background-color: var(--color-highlight);
}

.btn-outline:hover > span.label {
  color: #191919;
}

@media screen and (max-width: 1670px) {
  main > .projects > .content > .inner {
    justify-content: center;
  }

  main > .projects > .content > .inner > .project:nth-child(n) {
    margin-top: 0;
  }

  main > .contact > .content > .inner {
    flex-direction: column;
  }

  main > .contact > .content > .inner > .get-in-touch {
    margin-top: 50px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1399px) {
  main > section {
    min-height: calc(100vh - var(--header-size));
  }

  .content {
    padding: 200px 100px 0;
  }

  main > .projects > .content {
    background: none;
  }
}

@media screen and (max-width: 1199px) {
  main > .about {
    height: auto;
  }

  main > .about > .content > .inner {
    flex-direction: column;
    gap: 100px;
  }

  main > .about > .content > .inner > .photo {
    padding-top: 50px;
  }

  main > .about > .content > .inner > .description {
    align-self: flex-end;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding: 30px;
  }

  header > .menu {
    display: none;
  }

  main > .home {
    padding: 0 30px 0;
  }

  main > .home > .inner > .hello {
    font-size: 26px;
  }

  main > .home > .inner > .name {
    font-size: 44px;
    line-height: 50px;
  }

  main > .home > .inner > .position {
    font-size: 26px;
  }

  main > .about > .content > .inner {
    align-items: center;
    gap: 20px;
  }

  main > .about > .content > .inner > .photo {
    transform: scale(0.75);
  }

  main > .about > .content > .inner > .description {
    width: 500px;
    align-self: center;
  }

  main > .about > .content > .inner > .description > .title {
    font-size: 26px;
    line-height: 32px;
  }

  main > .about > .content > .inner > .description > .text {
    font-size: 16px;
  }

  main > section.skills {
    height: auto;
    min-height: auto;
  }

  main > .contact > .content > .inner > .get-in-touch {
    align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 100px 50px 0;
  }

  main > .skills > .content > .skill-levels {
    gap: 60px;
  }

  main > .skills > .content > .skill-levels > .left > .skill > .label,
  main > .skills > .content > .skill-levels > .right > .skill > .label {
    font-size: 14px;
  }

  main > section.projects {
    height: auto;
    min-height: auto;
  }

  main > .projects > .content {
    /* background: none; */
    height: auto;
    padding: 50px;
  }

  main > .projects > .content > .title {
    margin-bottom: 50px;
  }

  main > .projects > .content > .inner {
    gap: 30px;
  }

  main > .projects > .content > .inner > .project:nth-child(n) {
    text-align: center;
    width: 100%;
  }

  main > .projects > .content > .inner > .project:last-child {
    margin-top: -170px;
  }

  main > .projects > .content > .inner > .project:nth-child(n) > img {
    text-align: center;
    transform: scale(0.85);
  }

  main > .contact > .content > .inner > .message-me > .contact-form {
    width: 100%;
  }

  main > .contact > .content > .inner > .message-me > .contact-form > .row {
    flex-direction: column;
    gap: 20px;
  }

  main > .contact > .content > .inner > .get-in-touch > .title {
    font-size: 24px;
    line-height: 32px;
  }

  main > .contact > .content > .inner > .get-in-touch > .title {
    font-size: 20px;
    line-height: 24px;
  }

  main > .contact > .content > .inner > .get-in-touch > .text > div {
    font-size: 16px;
    line-height: 20px;
  }

  main
    > .contact
    > .content
    > .inner
    > .get-in-touch
    > .contacts
    > .contact
    > span {
    font-size: 20px;
    line-height: 24px;
  }

  footer {
    margin-top: 50px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  main > .about > .content > .inner > .photo {
    transform: scale(0.5);
    padding-top: 0px;
  }

  main > .about > .content > .inner > .description {
    width: 320px;
  }

  main
    > .about
    > .content
    > .inner
    > .description
    > form.download-form
    > button.download {
    margin-top: 40px;
    width: 240px;
    height: 44px;
    border-radius: 10px;
  }

  main
    > .about
    > .content
    > .inner
    > .description
    > form.download-form
    > button.download
    > span.label {
    font-size: 14px;
  }

  main
    > .about
    > .content
    > .inner
    > .description
    > form.download-form
    > button.download
    > img {
    transform: scale(0.75);
  }

  main > .skills > .content > .skill-levels {
    gap: 16px;
  }

  main > .skills > .content > .skill-levels > .left > .skill > .label,
  main > .skills > .content > .skill-levels > .right > .skill > .label {
    font-size: 13px;
  }

  main > .projects > .content {
    padding-left: 0;
    padding-right: 0;
    background: none;
  }

  main > .contact > .content {
    padding: 0 25px;
  }

  main > .contact > .content > .inner > .get-in-touch > .contacts {
    align-items: center;
  }

  main > .contact > .content > .inner > .get-in-touch > .contacts > .contact {
    flex-direction: column;
  }

  main > .contact > .content > .inner > .get-in-touch > .contacts span {
    margin-left: 0;
  }
}
